header {
  background-color: var(--color-bg-secondary);
  padding: 15px 40px;
  height: 65px;
  align-content: center;
}

.custom-brand,
.custom-brand:hover {
  color: var(--color-font-secondary);
  font-size: 24px;
  font-weight: 500;
}
